@{
    string message = ViewBag.result;
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row reset-password">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form method="POST" action="/User/ForgotPassword">

            <div>
                <label for="password">Email</label><br />
                <input class="col-md-6 form-control" type="text" name="email" required />
            </div>
            <br />
            <div>
                <button class="btn theme-color col-md-6" type="submit">Reset Password</button>
            </div>
            <span class="text-success">@message</span>

        </form>
    </div>
    <div class="col-md-4">
    </div>
</div>