@{
    string message = ViewBag.result;
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
<div class="row reset-password">
<div class="col-md-4">
</div>
<div class="col-md-4">
    <form method="POST" action="/User/ResetPassword">
        <input type="hidden" name="Email" value="@ViewBag.email" />
        <input type="hidden" name="Code" value="@ViewBag.code" />
        <div>
            <label for="password">New Password</label><br/>
            <input class="col-md-6 form-control" type="password" name="Password" required />
        </div>
            <br />
        <div>
                <button class="btn theme-color col-md-6" type="submit">Reset Password</button>
        </div>
            <span class="text-success">@message</span>
    </form>
</div>
<div class="col-md-4">
</div>
</div>