@{
    ViewData["Title"] = "CreateJob";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/js/theme/dashboard.js"></script>
<section class="content">
    <div class="container-fluid">

    </div>
</section>